Miele_LXIV.xcodeproj/xcuserdata/
Miele_LXIV.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace
*.DS_Store
__MACOSX/
Binaries/__MACOSX/
build/
Build/
AYDicomPrint/xercesc
AYDicomPrint/libxerces-c.27.dylib
AYDicomPrint/libdcmprintscu.dylib
Binaries/3DconnexionClient.framework/
Binaries/DB_Previous_Models/
Binaries/DCMTK
Binaries/DCMTK.zip
Binaries/dciodvfy
Binaries/GLEW
Binaries/GLM
Binaries/Growl.framework/
Binaries/Icons/Logo.tif
Binaries/Icons/Logo-AdHoc-AppStore.tif
Binaries/ILCrashReporter.framework/
Binaries/ITK
Binaries/ITKHeaders
Binaries/ITKLibs
Binaries/Jasper*
Binaries/KDU SDK/libkdu_v73R.a
Binaries/libPapyrusToolkit.a
Binaries/libiconv
Binaries/libjpeg
Binaries/libpng
Binaries/LibTiff/
Binaries/libtiff
Binaries/libxml2
Binaries/Ming/
Binaries/openjpeg
Binaries/openssl
Binaries/OsiriX Report.template
Binaries/OsiriX Lite.app.zip
Binaries/PAGES/
Binaries/ReportsToPDF/odt2pdf/build/odt2pdf
Binaries/VTK
Binaries/VTKHeaders
Binaries/VTKLibs
Binaries/weasis/
Binaries/zlib
Binaries/._OsiriX Report.template
Index/
options.h
url.h

nitrogen/Nitrogen.xcodeproj/xcuserdata/admin.xcuserdatad/xcschemes/xcschememanagement.plist
CMake*
CPack*
doxy/
doc/Documentation/
doc/Doxygen/

