<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>download_url</key>
		<dict>
			<key>scheme</key>
			<string>https</string>
			<key>host</key>
			<string>bettar.github.io</string>
			<key>path</key>
			<string>/miele-lxiv/plugins/InvertData/html/Invert Data.mieleplugin.zip</string>
		</dict>
		<key>name</key>
		<string>Invert Data</string>
		<key>url</key>
		<string>http://bettar.github.io/miele-lxiv/plugins/InvertData/html/index.html</string>
		<key>version</key>
		<string>2.1</string>
	</dict>
	<dict>
		<key>download_url</key>
		<dict>
			<key>scheme</key>
			<string>https</string>
			<key>host</key>
			<string>bettar.github.io</string>
			<key>path</key>
			<string>/miele-lxiv/plugins/CTR/html/CTRFilter.mieleplugin.zip</string>
		</dict>
		<key>name</key>
		<string>CTR</string>
		<key>url</key>
		<string>http://bettar.github.io/miele-lxiv/plugins/CTR/html/index.html</string>
		<key>version</key>
		<string>3.1</string>
	</dict>
	<dict>
		<key>download_url</key>
		<dict>
			<key>scheme</key>
			<string>https</string>
			<key>host</key>
			<string>bettar.github.io</string>
			<key>path</key>
			<string>/miele-lxiv/plugins/DICOMweb/html/DICOMwebFilter.mieleplugin.zip</string>
		</dict>
		<key>name</key>
		<string>DICOMweb</string>
		<key>url</key>
		<string>http://bettar.github.io/miele-lxiv/plugins/DICOMweb/html/index.html</string>
		<key>version</key>
		<string>0.7.36</string>
	</dict>
</array>
</plist>
