<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>2001,0010</key>
	<dict>
		<key>Description</key>
		<string>PrivateCreator</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>LO</string>
	</dict>
	<key>2001,0077</key>
	<dict>
		<key>Description</key>
		<string>GLTrafoType</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>CS</string>
	</dict>
	<key>2001,1001</key>
	<dict>
		<key>Description</key>
		<string>ChemicalShift</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>FL</string>
	</dict>
	<key>2001,101F</key>
	<dict>
		<key>Description</key>
		<string>RespirationSync</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>CS</string>
	</dict>
	<key>2001,102D</key>
	<dict>
		<key>Description</key>
		<string>StackNumberOfSlices</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SS</string>
	</dict>
	<key>2001,103F</key>
	<dict>
		<key>Description</key>
		<string>ZoomMode</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>CS</string>
	</dict>
	<key>2001,105F</key>
	<dict>
		<key>Description</key>
		<string>StackSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2001,1068</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2001,1077</key>
	<dict>
		<key>Description</key>
		<string>GLTrafoType</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>CS</string>
	</dict>
	<key>2001,9000</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,0014</key>
	<dict>
		<key>Description</key>
		<string>PrivateCreator</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>LO</string>
	</dict>
	<key>2005,1080</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,1083</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,1084</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,1085</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,109E</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,1371</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,1389</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,1402</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,140E</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
	<key>2005,140F</key>
	<dict>
		<key>Description</key>
		<string>UnknownSequence</string>
		<key>VM</key>
		<string>1</string>
		<key>VR</key>
		<string>SQ</string>
	</dict>
</dict>
</plist>
